<div class='container' align="center">
  <h2  ><b><i>Sibling1 Component</i></b></h2><hr>
  <button class="btn btn-primary" (click)="getForm()">Add Customer</button>
  <div *ngIf="flag">
    <br>
  <form>
<table  style="background-color: aliceblue;" align="center" >
  <tr>
    <td>
      <div class="input-group mb-3">
         <span class="input-group-text">ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
         <input type="text" class="form-control" #id >
      </div>
    </td>
    </tr>
    <tr>
    <td>
      <div class="input-group mb-3">
         <span class="input-group-text">Name: </span>
         <input type="text" class="form-control" #name >
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="input-group mb-3">
         <span class="input-group-text">Phone: </span>
         <input type="text" class="form-control" #phone >
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="input-group mb-3">
         <span class="input-group-text">Email:&nbsp; </span>
         <input type="text" class="form-control" #email >
      </div>
    </td>
  </tr>
  <tr>
    <td>
       &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <button  class="btn btn-success"  (click)="addCustomer(id.value,name.value,phone.value,email.value)">Add</button> &nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset" class="btn btn-danger" value="Clear">
      </td>

  </tr>
  <tr><td>&nbsp;&nbsp;&nbsp;</td></tr>
</table>
</form>
<br>
</div>
<br><br>
<table   border="1px" class="table" >
  <tr *ngIf="customers.length!=0"><th>ID: </th><th>Name: </th><th>Phome: </th><th>Email: </th></tr>
  <tr ngColor1  *ngFor="let customer of customers">
      <td >{{customer.id}}&nbsp;</td>
      <td>{{customer.name}}&nbsp;</td>
      <td>{{customer.phone }}&nbsp;</td>
      <td>{{customer.email}}&nbsp;</td>
  </tr>

</table>


</div>
