.btn {
  border-radius: 30px;
  height: max-content;
  outline:none; 
}
#b
{
    background-color: darkgrey;
    outline:none; 
    font-size: larger;
}
#ba
{
    outline:none; 
    font-size: larger;
}
#back
{
    background-color: black;
    color:white;
    font-size: larger;
    width: 25%;
    outline:none; 
}
#black
{
  background-color: black;
  border-radius: 50px;
  outline:none; 
}
#pink
{
  background-color: lightpink;
  border-radius: 50px;
  outline:none; 
}
#blue
{
  background-color: lightskyblue;
  border-radius: 50px;
  outline:none; 
}
td {
  padding: 3px;
  height: max-content;
  
}
.trtd {
    padding: 10px;
    height: max-content;
    
  }
table {
  background-color: black;
  border: 3px solid black;
  border-radius: 15px;
  overflow: hidden;
  width: 20%;
  

}
.form-control {
    height: 60px;
  text-align: right;
  background-color: black;
  color:white;
  border: black;
  font-size: xx-large;
  outline:none; 
}
