
<div class="container">

  <app-child [MoneyGift]="money" (MoneyTransactions)="getTransactions($event)"></app-child>
  <h2>Parent Component</h2>
  <tr>
    <td>
      <div class="input-group mb-3">
         <span class="input-group-text">Money to Child: </span>
         <input type="text" class="form-control" [(ngModel)]="PocketMoney" >
      </div>
    </td>
    <td>
      &nbsp;&nbsp;<button class="btn btn-primary" (click)="send()">Send Money</button>
    </td>
  </tr>
  <div  *ngIf="transactions.length>0">
    <h3>Child Transactions</h3>
<table name="ChildTransactions" class="table" >
  <tr><th>Date</th><th>IN</th><th> Out</th><th> Balance</th><th> PurchaseType</th></tr>
  <tr *ngFor="let transaction of transactions">
    <td>  {{transaction.date |date:"dd/MM/yyyy hh:mm:ss"}}</td>
    <td>  {{transaction.in}}</td>
    <td>  {{transaction.out}}</td>
    <td>  {{transaction.balance |currency:"INR"}}</td>
    <div *ngIf="transaction.type=='Stocks' else log" style="color: red;"><td > {{transaction.type}}</td></div>
     <ng-template #log > <td style="color: green;">{{transaction.type}}</td></ng-template>
   </tr>
</table>
</div>
</div>




