<!-- <br>
   <h1 align="center"><b>{{title}}</b></h1>
   <h4>From Product: {{childdata}}</h4> -->
  <!-- <h2>Root Component </h2> -->
  <!-- <hr>
  <app-product [parentmsg]="productwelcome" (myOutput) ="getData($event)">  <app-calculator></app-calculator></app-product>
  <br>
  <hr>
  <br> -->

  <!-- <table>
    <tr><app-home></app-home>
      <td>&nbsp;&nbsp;&nbsp;</td>
        <td class="vl"></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
      <app-tranning ></app-tranning>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td class="vl"></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <app-calculator></app-calculator>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <td class="vl"></td>
      <td>&nbsp;&nbsp;&nbsp;</td>
      <app-product></app-product>
    </tr>
  </table>
  <br>
  <hr> -->
  <app-parent></app-parent>
