
<h3>Object Component</h3>
<hr><br>
<table border="1px">
  <tr><td><b>Number </b></td><td> {{obj.one}}</td></tr>
  <tr><td><b>String </b></td><td> {{obj.two}}</td></tr>
  <tr><td><b>Boolean </b></td><td> {{obj.three}}</td></tr>
  <tr><td><b>Number[] </b></td><td> {{obj.four}}</td></tr>
  <tr><td><b>String[] </b></td><td> {{obj.five}}</td></tr>
  <tr><td><b>[Number,String,Boolean] </b></td><td> {{obj.six}}</td></tr>
  <tr><td><b>Number | String </b></td><td>{{obj.seven}}</td></tr>
  <tr><td><b>Object </b></td><td> {{'{'}}<b>{{"fname:"}}</b>{{obj.eight.fname+","}}<b>{{"lname:"}}</b>{{obj.eight.lname+","}}<b>{{"num:"}}</b>{{obj.eight.num+"}"}}</td></tr>
  <tr><td><b>any </b></td><td> {{obj.nine}}</td></tr>
  <tr><td><b>any[] </b></td><td> {{obj.ten}}</td></tr>
</table>

